[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
from-root = "*"
notebook = "*"
gdown = "*"
flask-cors = "*"
flask = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
pyyaml = "*"
requests = "*"
scipy = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
tensorboard = "*"
pandas = "*"
seaborn = "*"
ipython = "*"
psutil = "*"
thop = "*"
wastedetection = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
